In [1]:
a=raw_input("Enter some value:")

Enter some value:12

In [2]:
print a

12

In [3]:
type(a)

str

In [4]:
a=raw_input("Enter some value:")
print a, type(a)

Enter some value:python
python <type 'str'>

In [5]:
a=raw_input("Enter some value:")
print a, type(a)

Enter some value:12
12 <type 'str'>

In [6]:
a=raw_input("Enter some value:")
print a, type(a)

Enter some value:12.34
12.34 <type 'str'>

In [7]:
a="12"
b="12.34"
c="[1,2,3,4]"

In [8]:
a=input("Enter some value:")
print a, type(a)

Enter some value:12
12 <type 'int'>

In [9]:
a=input("Enter some value:")
print a, type(a)

Enter some value:12.34
12.34 <type 'float'>

In [10]:
a=input("Enter some value:")
print a, type(a)

Enter some value:[1,2,3,4]
[1, 2, 3, 4] <type 'list'>

In [11]:
a=input("Enter some value:")
print a, type(a)

Enter some value:(1,2,3,4)
(1, 2, 3, 4) <type 'tuple'>

In [12]:
a=input("Enter some value:")
print a, type(a)

Enter some value:{1:2}
{1: 2} <type 'dict'>

In [13]:
a=raw_input("Enter a value:")
b=raw_input("Enter ba value:")
print a+b

Enter a value:12
Enter ba value:34
1234

In [14]:
a=raw_input("Enter a value:")
b=raw_input("Enter ba value:")
print int(a)+int(b)

Enter a value:12
Enter ba value:34
46

In [15]:
a=raw_input("Enter a value:")
b=raw_input("Enter ba value:")
print int(a)+int(b)

Enter a value:12.34
Enter ba value:45.67

ValueError: invalid literal for int() with base 10: '12.34'

In [16]:
a=raw_input("Enter a value:")
b=raw_input("Enter ba value:")
print float(a)+float(b)

Enter a value:12
Enter ba value:34
46.0

In [17]:
a=raw_input("Enter a value:")
b=raw_input("Enter ba value:")
print float(a)+float(b)

Enter a value:12.34
Enter ba value:56.78
69.12

In [18]:
a=raw_input("Enter a value:")
b=raw_input("Enter ba value:")
print float(a)+float(b)

Enter a value:sdfsd
Enter ba value:sdfsdf

ValueError: could not convert string to float: sdfsd

In [19]:
a=input("Enter list of ips:")

Enter list of ips:[1,2,3]

In [20]:
a

[1, 2, 3]

In [21]:
type(a)

list

In [22]:
a=input("Enter adhar number:")

Enter adhar number:123432asdasfwqqe2

SyntaxError: unexpected EOF while parsing (<string>, line 1)

In [23]:
a=input("Enter adhar number:")

Enter adhar number:python

NameError: name 'python' is not defined

In [24]:
a=input("Enter adhar number:")

Enter adhar number:"1234sdfsdgsdgtr"

In [25]:
a

'1234sdfsdgsdgtr'

In [26]:
ips=raw_input("Enter ips as a coma separated values:")

Enter ips as a coma separated values:1.2.3.4,5.6.7.8,9.10.1.12

In [27]:
ips.split(',')

['1.2.3.4', '5.6.7.8', '9.10.1.12']

In [28]:
name="Anil"
age=23
height=5.6
# Name: Anil, Age: 23, Height: 5.6
print "Name:",name

Name: Anil

In [29]:
name="Anil"
age=23
height=5.6
# Name: Anil, Age: 23, Height: 5.6
print "Name:",name,"Age:",age,"Height:",height

Name: Anil Age: 23 Height: 5.6

In [30]:
name="Anil"
age=23
height=5.6
# Name: Anil, Age: 23, Height: 5.6
print "Name:"name,"Age:",age,"Height:",height

SyntaxError: invalid syntax (<ipython-input-30-3845045461f7>, line 5)

In [32]:
name="Anil"
age=23
height=5.6
# Name: Anil, Age: 23, Height: 5.6
print "Name:",name,",","Age:",age,",","Height:",height

Name: Anil , Age: 23 , Height: 5.6

In [33]:
name="Anil"
age=23
height=5.6
# Name: Anil, Age: 23, Height: 5.6
print "Name:",name",","Age:",age,",","Height:",height

SyntaxError: invalid syntax (<ipython-input-33-6ae2184f065c>, line 5)

In [34]:
name="Anil"
age=23
height=5.6
# Name: Anil, Age: 23, Height: 5.6
print "Name:",name+",","Age:",age,",","Height:",height

Name: Anil, Age: 23 , Height: 5.6

In [35]:
name="Anil"
age=23
height=5.6
# Name: Anil, Age: 23, Height: 5.6
print "Name:",name+",","Age:",age+",","Height:",height

Name: Anil, Age:

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [36]:
name="Anil"
age=23
height=5.6
# Name: Anil, Age: 23, Height: 5.6
"""

"""
print "Name:",name+",","Age:",str(age)+",","Height:",height

 Name: Anil, Age: 23, Height: 5.6

In [37]:
# format specifiers

In [38]:
# %s, %s, %f, %o, %x
res="line1\nline2"
print res

line1
line2

In [39]:
# %s, %s, %f, %o, %x
res="line1\nline2sdfsdfsd\tsddfsdfsd\tsdfsdf\nsfsd\nsdfsd\t"
print res

line1
line2sdfsdfsd	sddfsdfsd	sdfsdf
sfsd
sdfsd

In [40]:
# %s, %s, %f, %o, %x
res="line1\\nline2sdfsdfsd\\tsddfsdfsd\\tsdfsdf\\nsfsd\\nsdfsd\\t"
print res

line1\nline2sdfsdfsd\tsddfsdfsd\tsdfsdf\nsfsd\nsdfsd\t

In [41]:
s="line1\nline2"
print len(s)

11

In [42]:
s="line1\nline2\n"
print len(s)

12

In [43]:
s="line1\nline2\n\n"
print len(s)

13

In [44]:
# %s, %s, %f, %o, %x
res=r"line1\nline2sdfsdfsd\tsddfsdfsd\tsdfsdf\nsfsd\nsdfsd\t"
print res

line1\nline2sdfsdfsd\tsddfsdfsd\tsdfsdf\nsfsd\nsdfsd\t

In [45]:
# %s, %s, %f, %o, %x
res="line1\nline2sdfsdfsd\tsddfsdfsd\tsdfsdf\nsfsd\nsdfsd\t"
print res

line1
line2sdfsdfsd	sddfsdfsd	sdfsdf
sfsd
sdfsd

In [46]:
# it's hot day in hyderabad.
print "it's hot day in hyderabad."

it's hot day in hyderabad.

In [47]:
# it's hot day in hyderabad.
print 'it's hot day in hyderabad.'

SyntaxError: invalid syntax (<ipython-input-47-08127d54c959>, line 2)

In [48]:
# it's hot day in hyderabad.
print 'it\'s hot day in hyderabad.'

it's hot day in hyderabad.

In [49]:
# it's hot day in "hyderabad".
print 'it\'s hot day in "hyderabad."'

it's hot day in "hyderabad."

In [50]:
print "asafdsf"dsf"sdfsdf"

SyntaxError: invalid syntax (<ipython-input-50-d7f43a10d6b5>, line 1)

In [51]:
print "asafdsf\"dsf\"sdfsdf"

asafdsf"dsf"sdfsdf

In [55]:
data = open('data.csv').read()
print data

line1
line2
line3
line4

In [57]:
print data

line1
line2
line3
line4

In [58]:
print data

line1
line2
line3
line4

In [59]:
print r'data

SyntaxError: EOL while scanning string literal (<ipython-input-59-19d64638ec84>, line 1)

In [60]:
print "%r",data

%r line1
line2
line3
line4

In [61]:
print "%r"%data

'line1\nline2\nline3\nline4\n'

In [64]:
cost=12.345678
# product cost=12.35
print "product cost=",cost

 product cost= 12.345678

In [65]:
cost=12.345678
# product cost=12.35
print "product cost="+cost

TypeError: cannot concatenate 'str' and 'float' objects

In [66]:
cost=12.345678
# product cost=12.35
print "product cost="+str(cost)

product cost=12.345678

In [67]:
float?

In [68]:
cost=12.345678
# product cost=12.35
print "product cost="+str(cost)
print "product cost=%f"%cost

product cost=12.345678
product cost=12.345678

In [69]:
cost=12.345678
# product cost=12.35
print "product cost="+str(cost)
print "product cost=%d"%cost

product cost=12.345678
product cost=12

In [70]:
cost=12.345678
# product cost=12.35
print "product cost="+str(cost)
print "product cost="+str(cost)

product cost=12.345678
product cost=12.345678

In [71]:
cost=12.345678
# product cost=12.35
print "product cost="+str(cost)
print "product cost=%d"%cost
print "product cost="+str(int(cost))

product cost=12.345678
product cost=12
product cost=12

In [72]:
cost=12.345678
# product cost=12.35
print "product cost="+str(cost)
print "product cost=%d",%cost
print "product cost="+str(int(cost))

SyntaxError: invalid syntax (<ipython-input-72-8a0b958344cd>, line 4)

In [73]:
cost=12.345678
# product cost=12.35
print "product cost="+str(cost)
print "product cost=%d",cost
print "product cost="+str(int(cost))

product cost=12.345678
product cost=%d 12.345678
product cost=12

In [74]:
cost=12.345678
# product cost=12.35
print "product cost="+str(cost)
print "product cost=%.2f"%cost

product cost=12.345678
product cost=12.35

In [76]:
a=1234567
print "%x"%a
print "%X"%a
print "%o"%a
print "%O"%a

12d687
12D687
4553207

ValueError: unsupported format character 'O' (0x4f) at index 1

In [77]:
print "%b"%a

ValueError: unsupported format character 'b' (0x62) at index 1

In [78]:
print "%B"%a

ValueError: unsupported format character 'B' (0x42) at index 1

In [79]:
name="Anil"
age=23
height=5.6
# Name: Anil, Age: 23, Height: 5.6
"""

"""
print "Name:",name+",","Age:",str(age)+",","Height:",height
print "Name: %s, Age: %s, Height: %s"%(name, age, height)

Name: Anil, Age: 23, Height: 5.6
Name: Anil, Age: 23, Height: 5.6

In [80]:
name="Anil"
age=23
height=5.6
# Name: Anil, Age: 23, Height: 5.6
"""

"""
print "Name:",name+",","Age:",str(age)+",","Height:",height
print "Name: %s, Age: %s, Height: %s"%(name, height, age)

Name: Anil, Age: 23, Height: 5.6
Name: Anil, Age: 5.6, Height: 23

In [81]:
name="Anil"
age=23
height=5.6
# Name: Anil, Age: 23, Height: 5.6
"""

"""
print "Name:",name+",","Age:",str(age)+",","Height:",height
print "Name: %s, Age: %s, Height: %.3f"%(name, height, age)

Name: Anil, Age: 23, Height: 5.6
Name: Anil, Age: 5.6, Height: 23.000

In [82]:
name="Anil"
age=23
height=5.6
# Name: Anil, Age: 23, Height: 5.6
"""

"""
print "Name:",name+",","Age:",str(age)+",","Height:",height
print "Name: %s, Age: %d, Height: %f"%(name,age,height)

Name: Anil, Age: 23, Height: 5.6
Name: Anil, Age: 23, Height: 5.600000

In [83]:
c=123.456
s="%d"%c
print type(s),s

<type 'str'> 123

In [84]:
name="Anil"
age=23
height=5.6
# Name: Anil, Age: 23, Height: 5.6
"""

"""
print "Name:",name+",","Age:",str(age)+",","Height:",height
print "Name: %s, Age: %d, Height: %s"%(name,age,height)

Name: Anil, Age: 23, Height: 5.6
Name: Anil, Age: 23, Height: 5.6

In [85]:
name="Anil"
age=23
height=5.6
pan="BRCPR23423"
# Name: Anil, Age: 23, Height: 5.6
"""

"""
print "Name:",name+",","Age:",str(age)+",","Height:",height
print "Name: %s, Age: %d, Height: %s"%(name,age,height,pan)

Name: Anil, Age: 23, Height: 5.6

TypeError: not all arguments converted during string formatting

In [86]:
name="Anil"
age=23
height=5.6
pan="BRCPR23423"
# Name: Anil, Age: 23, Height: 5.6
"""

"""
print "Name:",name+",","Age:",str(age)+",","Height:",height
print "Name: %s, Age: %d, Height: %s"%(name,age)

Name: Anil, Age: 23, Height: 5.6

TypeError: not enough arguments for format string

In [87]:
name="Anil"
age=23
height=5.6
pan="BRCPR23423"
# Name: Anil, Age: 23, Height: 5.6
"""

"""
print "Name:",name+",","Age:",str(age)+",","Height:",height
print "%Name: %s, Age: %d, Height: %s"%(name,age,height)

Name: Anil, Age: 23, Height: 5.6

ValueError: unsupported format character 'N' (0x4e) at index 1

In [88]:
name="Anil"
age=23
height=5.6
pan="BRCPR23423"
# Name: Anil, Age: 23, Height: 5.6
"""

"""
print "Name:",name+",","Age:",str(age)+",","Height:",height
print "\%Name: %s, Age: %d, Height: %s"%(name,age,height)

Name: Anil, Age: 23, Height: 5.6

ValueError: unsupported format character 'N' (0x4e) at index 2

In [89]:
name="Anil"
age=23
height=5.6
pan="BRCPR23423"
# Name: Anil, Age: 23, Height: 5.6
"""

"""
print "Name:",name+",","Age:",str(age)+",","Height:",height
print "\%\Name: %s, Age: %d, Height: %s"%(name,age,height)

Name: Anil, Age: 23, Height: 5.6

ValueError: unsupported format character '\' (0x5c) at index 2

In [90]:
name="Anil"
age=23
height=5.6
pan="BRCPR23423"
# Name: Anil, Age: 23, Height: 5.6
"""

"""
print "Name:",name+",","Age:",str(age)+",","Height:",height
print "\\%Name: %s, Age: %d, Height: %s"%(name,age,height)

Name: Anil, Age: 23, Height: 5.6

ValueError: unsupported format character 'N' (0x4e) at index 2

In [91]:
name="Anil"
age=23
height=5.6
pan="BRCPR23423"
# Name: Anil, Age: 23, Height: 5.6
"""

"""
print "Name:",name+",","Age:",str(age)+",","Height:",height
print "\'%'Name: %s, Age: %d, Height: %s"%(name,age,height)

Name: Anil, Age: 23, Height: 5.6

ValueError: unsupported format character ''' (0x27) at index 2

In [93]:
name="Anil"
age=23
height=5.6
pan="BRCPR23423"
# Name: Anil, Age: 23, Height: 5.6
"""

"""
print "Name:",name+",","Age:",str(age)+",","Height:",height
print "\\"'%'\"Name: %s, Age: %d, Height: %s"%(name,age,height)

SyntaxError: unexpected character after line continuation character (<ipython-input-93-e2e2776c011e>, line 10)

In [94]:
a="str1dsfsdfsdffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffsdfsdf"

In [95]:
print a

str1dsfsdfsdffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffsdfsdf

In [96]:
print "lien1\n;line2"

lien1
;line2

In [97]:
print "sdfsdfsdfsdsddsfdssssssssssssssssssdsfdsfsdfsdfsdddddddddddddddddd
ddddddddddddddddddd"

SyntaxError: EOL while scanning string literal (<ipython-input-97-5373d2719999>, line 1)

In [98]:
print "sdfsdfsdfsdsddsfdssssssssssssssssssdsfdsfsdfsdfsdddddddddddddddddd\
ddddddddddddddddddd"

sdfsdfsdfsdsddsfdssssssssssssssssssdsfdsfsdfsdfsddddddddddddddddddddddddddddddddddddd

In [99]:
#learning python edition 5
#pep8
#pylint
cost=12.345678
# product cost=12
print "product cost="+str(int(cost))

product cost=12

In [100]:
#learning python edition 5
#pep8
#pylint
cost=12.345678
# product cost=12
print "product cost=%d"%cost

product cost=12

In [101]:
#learning python edition 5
#pep8
#pylint
cost=12.345678
cost1="12.345"
# product cost=12
print "product cost=%d"%cost1

TypeError: %d format: a number is required, not str

In [102]:
#learning python edition 5
#pep8
#pylint
cost=12.345678
cost1="123"
# product cost=12
print "product cost=%d"%cost1

TypeError: %d format: a number is required, not str

In [103]:
a=10
b=20
avg=(a+b)/2
print avg

15

In [104]:
a=10
b=20
average=(a+b)/2
print average

15

In [105]:
a=10.0
b=20
average=(a+b)/2
print average

15.0

In [106]:
a=15
b=20
average=(a+b)/2
print average

17

In [107]:
a=15
b=20
average=(a+b)/2.0
print average

17.5

In [108]:
a=10
b=010
print a!=b

True

In [110]:
a=1234
print a
a=0b100100
print a
a=0o232
print a

1234
36
154

In [112]:
a=1234
print a
b=0b100100
print b
c=0o232
print c
print a+b+c

1234
36
154
1424